/* hero */
.hero__box {
  padding: 100px;
  border-radius: 40px;
  background:
    linear-gradient(90deg, rgba(41, 40, 38, 0.55), rgba(41, 40, 38, 0) 75%),
    url("../assets/img-hero.png") center / cover no-repeat;
  color: var(--textInverse);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
}

@media (max-width: 1024px) {
  .hero__box {
    padding: 100px 60px;
  }

  .hero .btn .icon {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .hero__box {
    padding: 60px 16px;
  }

  .hero__content {
    max-width: none;
  }
}
